<!-- 引入布局模板 -->
{layout name='/layout/iframe'}
<!-- 内容主体区域 -->
<fieldset class="layui-elem-field layui-field-title">
    <legend>管理员列表</legend>
</fieldset>
<div class="page-toolbar">
    <div class="page-filter fr">
        <form class="layui-form layui-form-pane" action="/admin.php/admin/user/index.html" method="get">
            <div class="layui-form-item">
                <label class="layui-form-label">搜索</label>
                <div class="layui-input-inline">
                    <input type="text" name="q" value="" lay-verify="required" placeholder="请输入关键词搜索" autocomplete="off" class="layui-input">
                </div>
            </div>
        </form>
    </div>
    <form class="page-list-form">
        <div class="layui-btn-group fl">
            <a href="/admin.php/admin/user/adduser.html" class="layui-btn layui-btn-primary"><i class="aicon ai-tianjia"></i>添加</a>
            <a data-href="/admin.php/admin/user/status/table/admin_user/val/1.html" class="layui-btn layui-btn-primary j-page-btns"><i class="aicon ai-qiyong"></i>启用</a>
            <a data-href="/admin.php/admin/user/status/table/admin_user/val/0.html" class="layui-btn layui-btn-primary j-page-btns"><i class="aicon ai-jinyong1"></i>禁用</a>
            <a data-href="/admin.php/admin/user/deluser.html" class="layui-btn layui-btn-primary j-page-btns confirm"><i class="aicon ai-jinyong"></i>删除</a>
        </div>
    </form>
</div>
<div class="layui-form">
    <table class="layui-table mt10" lay-even="" lay-skin="row">
        <colgroup>
            <col width="50">
        </colgroup>
        <thead>
            <tr>
                <th>
                    <input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose">
                    <div class="layui-unselect layui-form-checkbox" lay-skin="primary">
                        <i class="layui-icon"></i>
                    </div>
                </th>
                <th>用户名</th>
                <th>昵称</th>
                <th>角色</th>
                <th>手机</th>
                <th>邮箱</th>
                <th>最后登陆时间</th>
                <th>最后登陆IP</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="checkbox" name="ids[]" value="1" disabled="" lay-skin="primary">
                    <div class="layui-unselect layui-form-checkbox layui-checkbox-disbaled layui-disabled" lay-skin="primary"><i class="layui-icon"></i></div>
                </td>
                <td>admin</td>
                <td>超级管理员</td>
                <td>超级管理员</td>
                <td></td>
                <td></td>
                <td>2017-11-03 14:57:29</td>
                <td>49.77.229.175</td>
                <td>
                    <input type="checkbox" name="status" checked="" disabled="" value="1" lay-skin="switch" lay-filter="switchStatus" lay-text="正常|关闭" data-href="/admin.php/admin/user/status/table/admin_user/ids/1.html">
                    <div class="layui-unselect layui-form-switch layui-form-onswitch layui-checkbox-disbaled layui-disabled" lay-skin="_switch"><em>正常</em><i></i></div>
                </td>
                <td>
                    <div class="layui-btn-group">
                        <div class="layui-btn-group">
                            <a href="/admin.php/admin/user/edituser/id/1.html" class="layui-btn layui-btn-primary layui-btn-small"><i class="layui-icon"></i></a>
                            <a href="/admin.php/admin/log/index/uid/1.html" class="layui-btn layui-btn-primary layui-btn-small" title="查看操作日志"><i class="layui-icon"></i></a>
                            <a data-href="/admin.php/admin/user/deluser/ids/1.html" class="layui-btn layui-btn-primary layui-btn-small j-tr-del"><i class="layui-icon"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>