<!-- 引入布局模板 -->
{layout name='/layout/common'}
<!-- 内容部分 -->
<div id="main">
    <div class="c_nav">
        <a href="/">首页</a> <i class="fa fa-angle-right"></i> <a href="/home/index/cate">小说专区</a> <i class="fa fa-angle-right"></i> {$info.name}
    </div>
    <section class="c_section">
        <h2>小说列表</h2>
        <div class="c_list">
            {foreach name='list' item='vo'}
                <p>
                    <a href="/home/index/detail/id/{$vo.id}.html"></i>{$vo.title}</a>
                    <span class="date">{$vo.update_time}</span>
                </p>
            {/foreach}
        </div>
        {$page}
    </section>
</div>
