



    <!-- 引入布局模板 -->
{layout name='/layout/common'}
<!-- 内容部分 -->
<div id="main">
    <section id="page-post">
        <article class="post detail">
            <div class="meta">
                <div>  
                    <span class="author"></span> 
                    <span>发布于</span>
                    <span class="date">{$info.create_time}</span>
                </div>
            </div>
            <h1 class="title">{$info.title}</h1>
            <div class="entry-content">
                {$info.content|htmlspecialchars_decode=###}
            </div>
        </article>
    </section>
</div>
