<!-- 引入布局模板 -->
{layout name='/layout/common'}
<!-- 内容部分 -->
<div id="main">
	<div class="c_nav">
	</div>
	<section class="c_section">
		<h2>最新视频</h2>
		<div class="c_list">
			{foreach name='video_list' item='vo'}
		        <p>
		            <a href="/home/video/detail/id/{$vo.id}.html"></i>{$vo.title}</a>
		            <span class="date">{$vo.update_time}</span>
		        </p>
        	{/foreach}
        	<p style="text-align:center">
        		<a href="/home/video/index">查看更多</a>
        	</p>
		</div>
    </section>
    <section class="c_section">
		<h2>最新小说</h2>
		<div class="c_list">
			{foreach name='article_list' item='vo'}
		        <p>
		            <a href="/home/article/detail/id/{$vo.id}.html">{$vo.title}</a>
		            <span class="date">{$vo.update_time}</span>
		        </p>
        	{/foreach}
        	<p style="text-align:center">
        		<a href="/home/article/index">查看更多</a>
        	</p>
		</div>
    </section>
</div>
