<!-- 引入布局模板 -->
{layout name='/layout/common'}
<!-- 内容部分 -->
<div id="main">
	<div class="c_nav">
	</div>
    <section class="c_section">
	    <div class="c_cate">
			{foreach name='cate_list' item='vo'}
	        	<a href="/home/index/article/id/{$vo.id}" class="c_cate_item">{$vo.name}</a>
	        {/foreach}
		</div>
		<h2>最新小说</h2>
		<div class="c_list">
			{foreach name='list' item='vo'}
		        <p>
		            <a href="/home/index/detail/id/{$vo.id}.html"></i>{$vo.title}</a>
		            <span class="date">{$vo.update_time}</span>
		        </p>
        	{/foreach}
		</div>
		
    </section>
</div>
