<!-- 引入布局模板 -->
{layout name='/layout/noleft'}
<!-- 主区域代码 -->
<div class="layui-main ym-main layui-clear">
    <!-- 主区域左侧 -->
    <div class="c_content">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">标题</label>
                <div class="layui-input-block">
                    <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">选择话题</label>
                    <div class="layui-input-inline">
                        <select name="cate_id" lay-verify="cate_id">
                            <option value="">选择话题</option>
                            {foreach name="list" id="vo"}
                            <optgroup label="{$vo.name}">
                                {foreach name="vo['son']" id="vb"}
                                <option value="{$vb.id}">{$vb.name}</option>
                                {/foreach}
                            </optgroup>
                            {/foreach}
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item layui-form-text c_upload">
                <label class="layui-form-label">内容</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入内容" class="layui-textarea"></textarea>
                    <div class="layui-btn-group">
                        <a class="layui-btn" href="javascript:;" id="imgBtn">图片</a>
                        <a class="layui-btn ">视频</a>
                        <a class="layui-btn">音乐</a>
                    </div>
                    <div id="uploader" class="wu-example">
                        <!-- 图片上传 -->
                        <div class="upbox imgbox">
                            <div class="imglist" id="imglist">
                                <div class="imgitem addimgbtn" ><i class="layui-icon">&#xe654;</i>
                                    
                                    <div id="addimgbtn"></div>

                                </div>
                            </div>
                        </div>
                        <!-- 视频上传 -->
                        <div class="upbox videobox">
                            
                        </div>
                        <!-- 音频上传 -->
                        <div class="upbox audiobox">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
    <script>

    var uploadObj ={
        type:0,
        imgList:[],
        video:'',
        music:'',
    };



    layui.use(['layer'], function() {
        var layer = layui.layer;

        var uploader = WebUploader.create({
            // swf文件路径
            swf: '/Public/static/lib/webuploader/Uploader.swf',

            // 文件接收服务端。
            server: '/public/index.php/home/home/upload',

            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#imgBtn',
            // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
            resize: false,
            accept:{
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            }
        });
        //添加图片的btn
        uploader.addButton({
            id: '#addimgbtn',
        });

        
        // 当有文件被添加进队列的时候
        uploader.on('fileQueued', function(file) {
             uploader.upload();
        });
        // 展示img
        function showImg(res){
            var html = '';
            if (res.status !=1) {
                html += '<div class="imgitem"><i class="layui-icon">&#x1007;</i>  <p class="tip">预览出错</p></div>';
            } else {
                $('.upbox').hide();
                $('.imgbox').show();

                html += '<div class="imgitem"><i class="layui-icon">&#x1007;</i><img src="'+res.url+'" /></div>';
            }
            $('#imglist .addimgbtn').before(html);
             // uploader.refresh(); 

            $('#addimgbtn').css({
                'height':'100%'
            }).find('.webuploader-pick').next().css({
                'height':'100%',
                'width':'100%'
            })
        };

        // var curr =null;

        // // 文件上传过程中创建进度条实时显示。
        // uploader.on('uploadProgress', function(file, percentage) {
        //     if(!curr){
        //          curr = layer.load();
        //     }
            // var $li = $('#' + file.id),
            //     $percent = $li.find('.progress .progress-bar');

            // // 避免重复创建
            // if (!$percent.length) {
            //     $percent = $('<div class="progress progress-striped active">' +
            //         '<div class="progress-bar" role="progressbar" style="width: 0%">' +
            //         '</div>' +
            //         '</div>').appendTo($li).find('.progress-bar');
            // }

            // $li.find('p.state').text('上传中');

            // $percent.css('width', percentage * 100 + '%');
        // });

        uploader.on('uploadSuccess', function(file,res) {
            // $('#' + file.id).find('p.state').text('已上传');
            console.log('已上传');
           showImg(res)
        });

        uploader.on('uploadError', function(file) {
            // $('#' + file.id).find('p.state').text('上传出错');
            layer.msg('上传出错了',{time:500});
        });

        // uploader.on('uploadComplete', function(file) {
        //     console.log('uploadComplete')
        //         layer.close(curr);  
        //         curr = null;
        //     // $('#' + file.id).find('.progress').fadeOut();
        // });









    });
    </script>