 <!-- 引入布局模板 -->
{layout name='/layout/common'}

<!-- 内容部分 -->
<div id="main">
	<div class="c_nav c_websit_top" >
		<a href="/">首页</a>
		<i class="fa fa-angle-right"></i>
		<a href="/home/video/index.html">视频专区</a>
		{notempty name='info'}
		<i class="fa fa-angle-right"></i>
		<a href="/home/video/index/id/{$info.id}.html">{$info.name}</a>
		{/notempty}
	</div>
    <section class="c_section">
	    <div class="c_cate">
			{foreach name='cate_list' item='vo'}
	        	<a href="/home/video/index/id/{$vo.id}.html" class="c_cate_item">{$vo.name}</a>
	        {/foreach}
		</div>
    </section>
	<section class="c_section">
        <h2>视频列表</h2>
        <div class="c_list">
            {foreach name='list' item='vo'}
                <p>
                	<a href="/home/video/detail/id/{$vo.id}.html">{$vo.title}</a>
                    <span class="date">{$vo.update_time}</span>
                </p>
            {/foreach}
        </div>
        {$page}
    </section>
</div>
