<!-- 引入布局模板 -->
{layout name='/layout/iframe'}
<script type="text/javascript" src="/static/lib//ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/static/lib/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" src="/static/lib/ueditor/lang/zh-cn/zh-cn.js"></script>
<!-- 内容主体区域 -->
<fieldset class="layui-elem-field layui-field-title">
    <legend>菜单编辑</legend>
</fieldset>
<div class="layui-form layui-form-pane" style="min-height: 400px;">
    <input type="hidden" name="uid"  value="{$Think.session.admin_id}">
    <input type="hidden" name="id"  value="{$info.id}">
    <input type="hidden" name="author_name"  value="{$Think.session.admin_nick}">
    <div class="layui-form-item">
        <label class="layui-form-label">选择菜单</label>
        <div class="layui-input-block">
            <select name="c_id" lay-verify="required">
                {volist name='list' id='vo'}
                    <option {eq name='info.c_id' value="$vo.id" }selected{/eq}  value="{$vo.id}">{$vo.level|str_repeat= "--",###} {$vo.name}</option>
                {/volist}
              </select>
        </div>
    </div>
     <div class="layui-form-item">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-block">
            <input type="text" name="title" lay-verify="required" value="{$info.title}" autocomplete="off" placeholder="请输入文章名" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <input type="text" name="des" lay-verify="des"  value="{$info.des}"  autocomplete="off" placeholder="请输入描述" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">内容</label>
        <div class="layui-input-block">
            <textarea  name="content" id="content" >{$info.content}</textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="add">保存</button>
        </div>
    </div>
</div>
<script>
 var editor=  UE.getEditor('content',{initialFrameHeight:400,});
 editor.addListener( 'ready', function( editor ) {
    var height =  $('html').height();
    parent.setHeight(height);
 } );

layui.use(['form', 'laydate', 'element'], function() {
    var form = layui.form,
        layer = layui.layer,
        element = layui.element;

   //监听提交
    form.on('submit(add)', function(data) {
        var _html = editor.getContent(); 
        var _data =data.field;
        _data.content =  _html;
        console.log('_data',_data);
      $.ajax({
        url:'/admin/article/edit',
        data:data.field,
        type:'post',
        success:function(data){
          layer.msg(data.msg,{time:1000},function(){
            if(data.status == 1){
              parent.setFrameUrl('/admin/article/index')
            }
          });
           
        }
      })
    });

})
</script>