<!-- 引入布局模板 -->
{layout name='/layout/iframe'}
<!-- 内容主体区域 -->
<fieldset class="layui-elem-field layui-field-title">
    <legend>编辑管理员</legend>
</fieldset>
<div class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">账号</label>
        <div class="layui-input-block">
            <input type="text" name="name" disabled  value="{$info.name}" lay-verify="name" autocomplete="off" placeholder="请输入账号" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-block">
            <input type="password" name="password"  value="" lay-verify="password" autocomplete="off" placeholder="请输入密码" class="layui-input">
        </div>
    </div>
  
    <div class="layui-form-item">
        <label class="layui-form-label">邮箱</label>
        <div class="layui-input-block">
            <input type="text" name="email" lay-verify="email"  value="{$info.email}" autocomplete="off" placeholder="请输入邮箱" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">手机号</label>
        <div class="layui-input-block">
            <input type="text" name="mobile" lay-verify="mobile"  value="{$info.mobile}" autocomplete="off" placeholder="请输入手机号" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">所属角色</label>
        <div class="layui-input-block">
            {eq name='info.is_admin' value="1" }
                <input type="checkbox" checked title="超级管理员" disabled lay-skin="primary">
            {else/}
            {volist name='list' id='vo' key='k'}
            <input type="checkbox" name="role_ids[{$k}]" title="{$vo.name}" value="{$vo.id}" 
                {volist name='role_ids' id='vb'}
                    {eq name='vb.role_id' value="$vo.id" }checked{/eq}
                {/volist}
            lay-skin="primary">
            {/volist}
            {/eq}

        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="add">保存</button>
        </div>
    </div>
</div>
<script>
layui.use(['form', 'laydate', 'element'], function() {
    var form = layui.form,
        layer = layui.layer,
        element = layui.element;

        

    //自定义验证规则
    form.verify({
        password: [/(.+){6,12}$/, '密码必须6到12位'],
    });
    //监听提交
    form.on('submit(add)', function(data) {
        var _data = data.field;
        _data.id = {$info.id};
      $.ajax({
        url:'/admin/user/edit',
        data:_data,
        type:'post',
        success:function(data){
          layer.msg(data.msg,{time:1000},function(){
            if(data.status==1){
                parent.setFrameUrl('/admin/user/index')
            }
          });
        }
      })
    });

})
</script>