
<!-- 主区域右侧 -->
	<div class="content-right">

		<div class="layui-tab">
		  <ul class="layui-tab-title">
		    <li class="layui-this">排行</li>
		    <li>热门</li>
		    <li>资讯</li>
		  </ul>
		  <div class="layui-tab-content ym-rank">
		    <div class="layui-tab-item layui-show">
		    	<a  class="ym-rank-item layui-elip" href=""><span>1</span>我的未来不是梦我的未来不是梦我的未来不是梦我的未来不是梦</a>	
		    	<a  class="ym-rank-item layui-elip" href=""><span>1</span>我的未来不是梦</a>	
		    	<a  class="ym-rank-item layui-elip" href=""><span>1</span>我的未来不是梦</a>	
		    	<a  class="ym-rank-item layui-elip" href=""><span>1</span>我的未来不是梦</a>	
		    	<a  class="ym-rank-item layui-elip" href=""><span>1</span>我的未来不是梦</a>	
		    	<a  class="ym-rank-item layui-elip" href=""><span>1</span>我的未来不是梦</a>	
		    	<a  class="ym-rank-item layui-elip" href=""><span>1</span>我的未来不是梦</a>	
		    </div>
		    <div class="layui-tab-item">内容2</div>
		    <div class="layui-tab-item">内容3</div>
		  </div>
		</div>
		<img src="/Public/static/base/img/biu.jpg">
	</div>
</div>
<!-- 底部固定区域 -->
<div class="layui-footer layui-main">
    © 2017 - yemaoqu.com - 
</div>

<script>
//JavaScript代码区域
layui.use(['element','layer'], function(){
  var element = layui.element;
  var layer = layui.layer;

	// 退出登录
	$('.logout').click(function(){
		$.ajax({
			url:'/public/index.php/home/user/logout',
			type:'get',
			success:function(data){

				layer.msg(data.msg,{time:1000},function(){
		            if(data.status == 1){
		                window.location.href='/public/index.php/home/index/index';
		            }
		         })
				
			}
		})
	})
});

</script>

</body>
</html>