<nav id="sidebar" class="behavior_1">
    <div class="wrap">
        <ul class="buttons">
            <li>
                <a href="/" title="首页"> <i class="fa fa-home"></i> <span>首页</span></a>
            </li>
            <li>
                <a href="/home/article/index.html" title=""> <i class="fa fa-file-text"></i> <span>小说专区</span></a>
            </li>
            <li>
                <a href="/home/video/index.html"> <i class="fa fa-video-camera"></i> <span>视频专区</span></a>
            </li>
           <!--  <li>
                <a href="/home/video/index"> <i class="fa fa-video-camera"></i> <span>短视频</span></a>
                <a href="/home/video/index"> <i class="fa fa-picture-o"></i> <span>视频专区</span></a>
                
            </li>
            <li>
                <a href="" title="关于"> <i class="fa fa-user"></i> <span>个人中心</span></a>
            </li> -->
        </ul>
    </div>
</nav>
<div id="header">
    <div class="btn-bar"><i></i></div>
    <h1><a href="/">蚂蚁小说阅读网</a></h1>
    <a class="me" href="javascript:history.back();">
        <img src="/static/blog/img/ant2.png">
    🐜
    </a>

</div>
<div id="sidebar-mask"></div>