<nav id="sidebar" class="behavior_1">
    <div class="wrap">
        <div class="profile">
            <a href="http://gyblog.cn/"> <img src="__PUBLIC__/blog/img/biu.jpg" alt="光宇的小窝"> </a> <span>光宇的小窝</span></div>
        <div id="wb_connect_btn">111</div>
        <ul class="buttons">
            <li>
                <a href="http://gyblog.cn/" title="首页"> <i class="iconfont icon-home"></i> <span>首页</span></a>
            </li>
            <li>
                <a href="http://gyblog.cn/archives/" title="归档"> <i class="iconfont icon-archive"></i> <span>归档</span></a>
            </li>
            <li>
                <a href="http://gyblog.cn/tags" title="标签"> <i class="iconfont icon-tags"></i> <span>标签</span></a>
            </li>
            <li>
                <a href="http://gyblog.cn/about" title="关于"> <i class="iconfont icon-user"></i> <span>关于</span></a>
            </li>
            <li>
                <a href="http://gyblog.cn/links" title="友链"> <i class="iconfont icon-link"></i> <span>友链</span></a>
            </li>
        </ul>
        <ul class="buttons">
            <li>
                <a class="inline" rel="nofollow" target="_blank" href="https://github.com/songguangyu"> <i class="iconfont icon-github-v" title="GitHub"></i></a>
                <a class="inline" href="http://gyblog.cn/rss.html"> <i class="iconfont icon-rss-v" title="RSS"></i></a>
                <a class="inline" href="http://gyblog.cn/search.html"> <i class="iconfont icon-search" title="Search"></i></a>
            </li>
        </ul>
    </div>
</nav>
