<!-- 引入布局模板 -->
{layout name='/layout/iframe'}
<!-- 内容主体区域 -->
<fieldset class="layui-elem-field layui-field-title">
    <legend>视频分类列表</legend>
</fieldset>
<div class="page-toolbar">
    <div class="page-filter fr">
        <form class="layui-form layui-form-pane" action="/admin.php/admin/user/index.html" method="get">
            <div class="layui-form-item">
                <label class="layui-form-label">搜索</label>
                <div class="layui-input-inline">
                    <input type="text" name="q" value="" lay-verify="required" placeholder="请输入关键词搜索" autocomplete="off" class="layui-input">
                </div>
            </div>
        </form>
    </div>
    
</div>
<div class="layui-form">
    <table class="layui-table mt10" lay-even="" lay-skin="row">
        <colgroup>
            <col width="150">
        </colgroup>
        <thead>
            <tr>
                <th>分类ID</th>
                <th>分类名</th>
                <th>简介</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        {empty name='list'}
            <tr>
                <td colspan='4' align='center'>暂无数据</td>
            </tr>
        {/empty}
        {volist name='list' id='vo'}
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo.level|str_repeat= "--",###} {$vo.name}</td>
                <td>{$vo.des}</td>
                <td>
                    <div class="layui-btn-group">
                        <div class="layui-btn-group">
                           <a href="/admin/video/cate_edit/id/{$vo.id}" class="layui-btn layui-btn-primary layui-btn-small"><i class="layui-icon">&#xe642;</i></a>
                            <a data-href="/admin/video/cate_del/id/{$vo.id}" class="layui-btn layui-btn-primary layui-btn-small table-del"><i class="layui-icon">&#xe640;</i></a>
                        </div>
                    </div>
                </td>
            </tr>
        {/volist}
        </tbody>
    </table>
</div>

<script>

layui.use(['form', 'layedit', 'laydate','element'], function(){
  var form = layui.form
  ,layer = layui.layer
  , element = layui.element;
    $('.table-del').click(function(){
        var url = $(this).attr('data-href')
        $.ajax({
            url:url,
            type:'get',
            success:function (data) {
                layer.msg(data.msg,{time:1000},function(){
                    if(data.status ==1){
                       parent.setFrameUrl('/admin/video/cate_index')
                    }
                })
            }
        })
    })
  
})




</script>